html {
  font-size: 15px;
  color: #171E26;
  background: #F0F1F4;

    /* background-image: radial-gradient(circle at left top, rgb(61, 247, 0), rgb(0, 0, 0));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    This is my backup because it works and looks nice */

}

header{
  padding: 20px;
  margin: 0%;
  text-align: center;
  font-size:50px;
  border-bottom: 2px solid #6F7E8C;
  background-color: #EF0C1A;
}
#image-container{
  border-bottom: 2px solid #6F7E8C;
  font-size: 10px;
  color: #424D58;
}
#resources a:hover{
  font-size: 25px;
  color:#EF0C1A;
}
#personal-digital{
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #6F7E8C;
}
#social-digital{
  border-bottom: 2px solid #6F7E8C;
  padding: 10px;
  margin: 10px;
}
