html {
  font-size: 15px;
  color: red;
}
header{
  font-size:100px;
  border-radius: 5px;
  border: 10px solid blue
}

}
#resources a:hover{
  font-size: 25px;
  color:orange;
}
#personal-digital{
  border-radius: 5px;
  border: 10px solid blue
}
}
